@import url('https://p.typekit.net/p.css?s=1&k=dke8rty&ht=tk&f=15528.15529.28980.28985&a=8246912&app=typekit&e=css');

@font-face {
  font-family: 'europa';
  src: url('https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n7&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'europa';
  src: url('https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3')
      format('woff'),
    url('https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n3&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'rift-soft';
  src: url('https://use.typekit.net/af/b0a7b5/00000000000000003b9adf1d/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/b0a7b5/00000000000000003b9adf1d/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/b0a7b5/00000000000000003b9adf1d/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n5&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'rift-soft';
  src: url('https://use.typekit.net/af/3f05ad/00000000000000003b9adf22/27/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/3f05ad/00000000000000003b9adf22/27/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/3f05ad/00000000000000003b9adf22/27/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n6&v=3')
      format('opentype');
  font-style: normal;
  font-weight: 600;
}

.tk-europa {
  font-family: 'europa', sans-serif;
}
.tk-rift-soft {
  font-family: 'rift-soft', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'europa';
  background: #fff;
}

.header {
  display: flex;
  height: 80px;
  border-bottom: 1;
  border-width: 1px;
  border-color: black;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header.shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(27, 28, 32, 0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(27, 28, 32, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(27, 28, 32, 0.1);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scheduled-activity,
.activity-history {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.scheduled-activity > .title {
  font-weight: bold;
  font-size: 18px;
}

.activity-history > .title {
  font-weight: bold;
  font-size: 18px;
}

.card-list {
  display: flex;
  min-width: 100%;
  overflow-x: auto;
  align-items: center;
  width: 100%;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-img {
  max-width: 100%;
}

.wrapper {
  width: 375px;
  max-width: 93%;
  margin: 0 auto;
  background-color: #fff;
  min-width: 136px;

  height: 182px;
  margin: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-icon {
  position: absolute;
  top: 43%;
  background: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0px 10px 15px rgba(27, 28, 32, 0.1);
  padding: 2px;
}

.card-icon img {
  width: 28px;
}
.card-image {
  max-height: 100px;
  overflow: hidden;
}

.card-image img {
  object-fit: contain;
  height: inherit;
  width: 100%;
}

.card-item {
  position: relative;
  /* max-width: 135px; */
  min-height: 180px;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(27, 28, 32, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-grow: 1;
}

.card-info h1 {
  font-size: 15px;
  font-weight: 600;
  color: #334856;
  padding-top: 5px;
}
.card-info p {
  font-family: 'rift-soft';
  font-size: 10px;
  letter-spacing: 2px;
  color: #7d8184;
}

.activity-track {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.activity-circle {
  width: 60px;
  min-width: 60px;
  height: 60px;
  border: 1px dashed rgba(200, 209, 211, 1);
  border-radius: 50%;
  background-color: rgba(240, 243, 244, 1);
  margin-right: 20px;
  margin-top: 5px;
}

.activity-logo {
  background: #fff;
  width: 45px;
  height: 45px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0px 10px 15px rgba(27, 28, 32, 0.1);
  padding: 2px;
}

.activity-history,
.flex-center,
.scheduled-activity {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  /* width: 90%; */
}

@media screen and (device-aspect-ratio: 40/71) {
  .activity-picker > .flex-center {
    padding-right: 15px;
  }
  .activity-icon {
    width: 50px;
    height: 50px;
  }
  .pause-container {
    margin-bottom: 30px !important;
  }

  .container-sch-activity > .flex-center {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .container-sch-activity > .activity-title {
    margin-bottom: 25px !important;
  }
  .container-sch-activity > .flex-center > .select {
    width: 18em;
  }
}
